<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!-- <beans> -->

	<!-- bean definitions here -->
<!-- 	<bean id="greetings" class="com.spring.core.Greetings" init-method="init" destroy-method="destroy">
		<property name="message" value="Hello Spring"></property>
	</bean>

</beans> -->


<!-- there can be default-destroy-method in beans level -->
<beans default-destroy-method="destroy">

	<!-- bean definitions here -->
	<bean id="greetings" class="com.spring.core.Greetings" init-method="init">
		<property name="message" value="Hello Spring"></property>
	</bean>

	<bean id="processor" class="com.spring.core.Processor"></bean>

</beans>